 /* common style */
 body{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f1ff;
 }
 main{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .container{
     background-color: white;
     width: 870px;
     padding: 30px;
     margin-top:21px;
     border-radius: 5px;
 }
 .section-title{
     color: blue;
     font-size: 24px;
margin-top: 3px;
 }
 hr{
     margin: 30px;
     margin-bottom: 27px;
 }
 /* top players styles */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
   
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
}
.blog{
    display: flex;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left:16px ;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f; 
    font-size: 16px;
}
.blog-author a{
    color:#562eff ;
    text-decoration: none;
    font-size: 16px;
}
/* course styles */
.courses{
    display:grid ;
    grid-template-columns:repeat(3,1fr) ;
    column-gap: 24px;

}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: gold;
}
.fa-star.empty{
    color:#AEAEAE ;
}
/*---- 
Media Queries
------ */
/* Mobile Device */
 @media only screen and (max-width:688px) {
     .container{
         width: 100%;
     }
     .players, .blogs,.courses{
        
         grid-template-columns: repeat(1,1fr);
     }
     .player, .blog{
         flex-direction: column;
     }
    
 }   
/* tablet devices */
@media only screen and (min-width:688px) and(max-width:992px) {
    .container{
        width: 100%;
    }
    
    .players,.courses{
        background-color: yellowgreen;
        grid-template-columns: repeat(2,fr);
    }
}